@model IEnumerable<TicketBooking>
@using OnlineTicketData.Models


<h2>Event List </h2>


@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Event Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Available Seats</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in Model)
            {

                <tr>

                    <td>@result.Event.EventName</td>
                    <td>@result.Event.EventDescription</td>

                    <td>@result.Event.EventDate</td>
                  
                    <td>@result.Event.AvailableSeats</td>


                    <td>
                        <form asp-action="BookTicket" method="post">
                            <input type="hidden" name="EvId" value="@result.EvId" />
                            <button type="submit">Book Ticket</button>
                        </form>


                       @* <form asp-action="DeleteBooking" method="post">
                            <input type="hidden" name="id" value="@result.EvId" />
                            <button type="submit">Delete</button>
                        </form>*@
                        @* <a asp-action="CreateBooking" asp-route-id="@result.CourseId">Enroll</a>
                <a asp-action="DeleteBooking" asp-route-id="@result.CourseId">Delete</a>*@

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No Event available.</p>
}