@model Event

<tr>
    <td>@Model.EventName</td>
    <td>@Model.EventDescription</td>
    <td>@Model.EventDate</td>
    <td>@Model.EventLocation</td>
    <td>@Model.AvailableSeats</td>
  @*  <td>@Model.IsApproved</td>*@
</tr>